@use "../../styles/variables" as *;

.organisation-info {
  &__content {
    width: 100%;
    max-width: 55rem;
    min-width: 55rem; 
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(0.625rem); 
    -webkit-backdrop-filter: blur(0.625rem); 
    color: $color-white;
    border-radius: 0.6rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
    padding: 2rem;
    text-align: left;
    border-bottom: 0.03125rem solid rgba(255, 255, 255, 0.1); 
    border-left: 0.0625rem solid rgba(255, 255, 255, 0.1);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1); 

    .organisation-info__image {
      width: 10rem; 
      height: 10rem; 
      border-radius: 50%;
      margin-right: 1.5rem;
      margin-left: auto;
      border: 0.125rem solid $color-white; 
    }
  }

  &__tags {
    margin-top: 1.5rem;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1); 

    &-header {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: $color-white;
    }

    &-list {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__tag {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: $color-secondary;
    border-radius: 0.3rem;
    font-size: 1rem;
    color: $color-black;
  }

  &__toggle-header {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: $color-white;
    font-family: "Major mono display";
    cursor: pointer;

    .organisation-info__toggle-icon {
      margin-left: 0.5rem;
      transition: transform 0.3s;

      &.expanded {
        transform: rotate(180deg);
      }
    }
  }

  &__overview {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
  }

  &__achievements-list,
  &__links-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__achievement-item,
  &__link-item {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.4;

    a {
      color: $color-white;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: blue;
      }
    }
  }

  &__section {
    margin-bottom: 1.5rem;
  }
}