
body {
  //background: linear-gradient(160deg, $color-black 20%, $color-black 70%, $color-secondary 100%);
  min-height: 100%;
  width: 100%;
  padding: 3rem;
  margin: 0;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/images/valeria-reverdo-dwy2meBFqW8-unsplash.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
    background-attachment: fixed;
  }
}

// Specific style for the people page to ensure it overrides the global styles
// .white-dot-page {
//   background: none;
// }

